cf_acme_challenge_content   = "<production acme_challenge CNAME record value>"
cf_brevo_txt_record_content = "<production brevo-code TXT record value>"
cf_dkim_content             = "<production DKIM TXT record value>"
cf_dmarc_content            = "<production DMARC TXT record value>"
cf_root_domain_content      = "<production root CNAME record value>"
cf_spf_content              = "<production spf TXT record value>"
cf_www_content              = "<production www A record value>"
cloudflare_account_id       = "<cloudflare account id value>"
cloudflare_api_token        = "<cloudflare api token value>"
cloudflare_zone_id          = "<cloudflare zone id value>"
