/* space-grotesk-regular - latin */
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("space-grotesk-v22-latin-regular.woff2") format("woff2");
}

/* space-grotesk-500 - latin */
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("space-grotesk-v22-latin-500.woff2") format("woff2");
}

/* space-grotesk-600 - latin */
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("space-grotesk-v22-latin-600.woff2") format("woff2");
}

/* space-grotesk-700 - latin */
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("space-grotesk-v22-latin-700.woff2") format("woff2");
}
