<html lang="en" class="h-full bg-zinc-900 antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404 - Page Not Found</title>
    <link phx-track-static rel="stylesheet" href={~p"/fonts/InterWeb/inter.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class="min-h-full">
    <main class="min-h-full place-items-center">
      <div class="text-center">
        <p class="my-6 text-pretty text-lg font-medium text-zinc-400">
          Oops! It seems like this page doesn't exist. <br /> Try going back to the
          <a href="/" class="text-emerald-400 hover:text-emerald-500">homepage.</a>
        </p>
        <img src={~p"/images/404.jpg"} alt="404" />
      </div>
    </main>
  </body>
</html>
