app_admin_email          = "<admin email address to send emails to>"
app_brevo_api_key        = "<brevo api key>"
app_domain               = "<app domain, i.e. staging.torontomusiclistings.com>"
app_turnstile_site_key   = "<turnstile site key ... can use test keys https://developers.cloudflare.com/turnstile/troubleshooting/testing/>"
app_turnstile_secret_key = "<turnstile secret key>"
basic_auth_username      = "<basic auth username - leave this and basic_auth_password blank for no auth>"
basic_auth_password      = "<basic auth password - leave this and basic_auth_username blank for no auth>"
cloudflare_account_id    = "<cloudflare account id>"
cloudflare_api_token     = "<cloudflare api token>"
cloudflare_zone_id       = "<cloudflare zone id>"
environment              = "<the environment deploying to, i.e. staging>"
github_repository        = "<the github repository>"
render_api_key           = "<the render api key>"
render_owner_id          = "<the render owner id>"
render_postgres_plan     = "<the render postgres plan>"
render_region            = "<the render region>"
render_web_service_plan  = "<the render web service plan>"
