<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full bg-white antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix=" Toronto Music Listings · ">
      <%= assigns[:page_title] || "Listings" %>
    </.live_title>
    <meta
      name="description"
      content="Discover Toronto’s vibrant music scene with daily updated event listings. From local bands to international acts, find live shows, concerts, and music festivals happening in and around Toronto."
    />
    <link phx-track-static rel="stylesheet" href={~p"/fonts/InterWeb/inter.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fonts/Lobster/lobster.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script defer data-domain="torontomusiclistings.com" src="https://plausible.io/js/script.js">
    </script>
    <Turnstile.script />
  </head>
  <body class="min-h-full antialiased bg-zinc-900">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_user.email %>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <MusicListingsWeb.NavbarComponents.navbar />
    <%= @inner_content %>
  </body>
</html>
