<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full bg-white antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix=" Toronto Music Listings · ">
      <%= assigns[:page_title] || "Listings" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/fonts/InterWeb/inter.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fonts/Lobster/lobster.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="flex min-h-full">
    <div class="flex w-full flex-col">
      <%= @inner_content %>
    </div>
  </body>
</html>
